%h2= @event.title
.date= @event.date.pretty
.details= @event.details
- @event.active_lectures.each do |lecture|
  = lecture.title
  = lecture.details
= form_for @event_item, :url => basket_add_path do |f|
  = f.hidden_field :item_id
  = f.text_field :quantity
  = f.submit 'Add to basket'

