= simple_form_for [:admin, @series, @lecture] do |f|
  = f.input :title
  %fieldset
    %legend Time
    = f.input :time
  = f.input :open
  = f.association :series
  = f.input :details
  = f.submit

