!!!
%html
  %head
    %title Intech
    = stylesheet_link_tag 'layout'
    = javascript_include_tag :defaults
    = csrf_meta_tag

  %body{:class => @section}

    .container
      = flash[:notice]
      = yield

